.img-fluid {
  max-width: 100%;
  max-height: 300px;
}

.nav-link {
  margin: .1rem 0;
}

h1 {
  margin: 3rem 0;
}

h2 {
  margin: 2rem 0;
}

h3 {
  margin: 1rem 0;
}

h4 {
  margin: .5rem 0;
}

.MathJax.CtxtMenu_Attached_0 {
  overflow-y: scroll;
}

@media (min-width: 992px) {
  #navbar {
    max-height: 100vh;
    overflow-y: scroll;
    padding-right: 15px;
  }
}

@media print {
  #navbar {
    display: none;
  }
}